{% load static %}

<header class="cd-main-header animate-search">
    <div class="cd-logo">
        <a href="/" ><img class="img-logo" src="{% static 'blog/images/logo_white.png' %}" alt="Logo"></a>
    </div>
    <nav class="cd-main-nav-wrapper">
        <a href="#search" class="cd-search-trigger cd-text-replace">Search</a>
        <ul class="cd-main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Category</a></li>
            <li><a href="/tags/">Tag</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
        <!-- .cd-main-nav -->
    </nav>
    <!-- .cd-main-nav-wrapper -->
    <a href="#0" class="cd-nav-trigger cd-text-replace">Menu<span></span></a>
</header>