<div class="toolbar visible-lg">
    <a href="javascript:" class="toolbar-item">
        <span class="toolbar-btn">
            <i class="toolbar-icon fa fa-weixin" aria-hidden="true"></i>
            <span class="toolbar-text">Wechat</span>
        </span>
        <span class="toolbar-layer toolbar-layer-weixin"></span>
    </a>

    {% if not request.user.is_authenticated %}
        <a href="{% url 'blog:login' %}" class="toolbar-item">
        <span class="toolbar-btn">
            <i class="toolbar-icon fa fa-user" aria-hidden="true"></i>
            <span class="toolbar-text">Login</span>
        </span>
        </a>
    {% else %}
        <a href="{% url 'blog:logout' %}" class="toolbar-item">
        <span class="toolbar-btn">
            <i class="toolbar-icon fa fa-user" aria-hidden="true"></i>
            <span class="toolbar-text">Logout</span>
        </span>
        </a>
    {% endif %}

    <a href="javascript:" class="toolbar-item">
        <span class="toolbar-btn">
            <i class="toolbar-icon fa fa-comment" aria-hidden="true"></i>
            <span class="toolbar-text">Message</span>
        </span>
    </a>

    <a href="javascript:" class="toolbar-item" id="backTop">
        <span class="toolbar-btn">
            <i class="toolbar-icon fa fa-chevron-up" aria-hidden="true"></i>
            <span class="toolbar-text">Top</span>
        </span>
    </a>

</div>