{% extends './base.html' %}

{% block body %}
    <div data-aos="fade-up">
        <h3>About Rhys</h3>
        <div class="about">
            <p>Oh hey, I'm Rhys, liking reading, writing, music and  programming.</p>
            <p>Programming makes me happy and pleased, and Python is my favorite programming language.Python is portable and extendable, and it's more productive than conventional language such as C and Java.</p>
        </div>
        <h3>Contact</h3>
        <div class="about">
            <p>Have more questions? you can send email to me</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="mailto:rhyspang@qq.com">rhyspang@qq.com</a></p>
        </div>

        <h3>Else Where</h3>
        <div class="about">
            <p><i class="fa fa-github-square fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://github.com/rhyspang">https://github.com/rhyspang</a></p>
        </div>
        <h3>About The Site</h3>
        <div class="about">
            <P>This site is powered by Django. It open source and hosted at <a href="https://github.com/rhyspang/blog">Github</a></P>

        </div>
    </div>

{% endblock %}