{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "blog/images/icon.png" %}">

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <link href="//cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

    <!-- Custom styles for thispy  template -->
    <link href="{% static "blog/css/blog.css" %}" rel="stylesheet">

    <title>Rhys' Blog</title>

</head>
<body background="{% static 'blog/images/back.gif' %}">
{% include './header.html' %}
<div style="margin-top: 50px;" class="container">
    {% block body %}{% endblock %}
</div>

{% include './footer.html' %}

<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>
</body>
</html>