{% extends './base.html' %}

{% block body %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for k, v in cats %}

            <div data-aos="fade-up" class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            {{ k }}
                        </a>
                        <span class="badge">{{ v.count }}</span>
                    </h4>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
                    <div class="panel-body">
                        <ul>
                            {% for element in v %}
                                <li> {{ element.date_created |date:"Y年m月d日 H时i分" }}  -- <a href="{% url 'blog:entry_detail' element.slug %}"> {{ element }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

        {% endfor %}
    </div>


{% endblock %}