{% extends './base.html' %}


{% block body %}
    {% load static %}

    <script src="{% static "blog/js/jquery.min.js" %}"></script>

    <link href="{% static "blog/css/lightbox.min.css" %}" rel="stylesheet">
    <script src="{% static "blog/js/lightbox.min.js" %}"></script>

    <link href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/default.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>

    <div data-aos="zoom-out" class="entrybox" id="content">
        <h1 class="blog-post-tile">{{ article.title }}</h1>
        <p class="blog-post-meta"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>{{ article.date_created }} |
            <i class="fa fa-tag" aria-hidden="true"></i>
            Tagged under
            {% for tag in article.tags.all %}
                <a href="{% url 'blog:show_by_tag' tag.slug %}">{{ tag.name }} </a>
            {% endfor %}
        </p>
          {{ article.body | safe}}
        <hr>

        {% include './secs/comment.html' %}

    </div>
{% endblock %}