{% extends './base.html' %}


{% block body %}

    <link href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/default.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <div data-aos="zoom-out" class="entrybox">
        <h1 class="blog-post-tile">{{ entry.title }}</h1>
        <p class="blog-post-meta">{{ entry.created }} | Tagged under {{ entry.tags.all|join:", " }}</p>
        {% autoescape off %}
          {{ entry.body}}
        {% endautoescape %}

        <hr>
    </div>
{% endblock %}