<div data-aos="fade-left" style="margin-top: 10px;" class="col-md-3  blog-sidebar visible-lg">
    {#    <div class="sidebar-module sidebar-module-inset">#}
    {#        <h4>About</h4>#}
    {#        <p><em>I am a poor boy</em> And my story seldom to be told.</p>#}
    {#    </div>#}

    <div  class="panel panel-success">
        <div class="panel-heading">Live your life</div>
        <div  class="panel-body">

           I went to the woods because I wanted to live deliberately … I wanted to live deep and suck out all the marrow of life! To put to rout all that was not life… And not when I came to die, discover that I had not lived…
        </div>
    </div>

{#    <div class="sidebar-module">#}
{#        <h4>Archives</h4>#}
{#        <ol class="list-unstyled">#}
{#            <li><a href="#">March 2014</a></li>#}
{#            <li><a href="#">February 2014</a></li>#}
{#            <li><a href="#">January 2014</a></li>#}
{#            <li><a href="#">December 2013</a></li>#}
{#        </ol>#}
{#    </div>#}

{#    <div class="sidebar-module">#}
{#        <h4>Elsewhere</h4>#}
{#        <ol class="list-unstyled">#}
{#            <li><a href="https://github.com/stoonejames">GitHub</a></li>#}
{#        </ol>#}
{##}
{#    </div>#}
</div><!-- /.blog-sidebar -->